@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-tangerine: "Tangerine", cursive;

  --color-mk-primary: #2d6a2f;
  --color-mk-primary-light: #3d8b40; /* hover states */
  --color-mk-primary-dark: #1e4a20; /* footer, deep sections */

  --color-mk-secondary: #5cb85c;
  --color-mk-secondary-light: #7dcf7d;

  --color-mk-text: #6b7280; /* body/paragraph text */

  --color-mk-gold: #c9a84c;
  --color-mk-rose: #f2c4ce;
  --color-mk-gray: #e5e7eb;
  --color-mk-muted: #a8d5a2;

  --color-mk-white: #faf8f3;
  --color-mk-black: #0f172a;
}

* {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-mk-white text-mk-black font-inter selection:bg-mk-primary/90 selection:text-mk-gold;
  }

  ::-webkit-scrollbar {
    @apply bg-mk-black w-2.5;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-mk-gray/50 rounded-full;
  }

  h2 {
    @apply text-[min(10vw,4.5rem)] font-extrabold tracking-wide;
  }

  h3 {
    @apply text-[min(7.5vw,3rem)] font-semibold tracking-wide;
  }

  p {
    @apply text-sm text-[min(2.8vw,1rem)] leading-6 md:leading-7;
  }
}

@layer components {
  .bg-gradient {
    @apply from-mk-primary-dark via-mk-primary to-mk-black bg-linear-to-r;
  }
  /* buttons */
  .btn {
    @apply rounded-full border px-5 py-2 text-sm font-semibold shadow-md transition-colors duration-200;
  }
  .btn.btn-primary {
    @apply bg-mk-primary text-mk-white shadow-mk-primary/40 border-mk-secondary/30 hover:bg-mk-primary/90;
  }
  .btn.btn-gold {
    @apply bg-mk-gold text-mk-white shadow-mk-gold/30 border-mk-gold/50 hover:bg-mk-gold/90;
  }
  .btn.btn-white {
    @apply border-mk-white/20 bg-mk-white/10 text-mk-white hover:bg-mk-white/20;
  }
  .mk-section {
    @apply relative min-h-screen scroll-mt-12 p-8 md:scroll-mt-14 md:px-10 md:py-4 lg:scroll-mt-16;
  }
}
